body
{
	margin: 0;
}

.img1
{
	width: 300px;
	height: 45px;
	padding-left: 80px;
}

.d1
{
	padding-right: 370px;
}

.he1
{
	font-weight: bold;
}

.he2
{
	color: grey;
}

.i1
{
	color: #C02301;
}

.nav
{
	padding-left: 60px;
	padding-bottom: 20px;
}

.nav-item
{
	font-weight: bold;
}

.nav-link.nav-link1
{
	color: #C35D03;
;
}
.nav-link
{
	color: black;
}
.nav-link:hover
{
	color: #C35D03;
}

.dropdown-item
{
	border: 1px dashed lightgrey;
	color: grey;
}


.btn.bt1
{
	background-color: #D8912F;
	color: white;
	margin-top: 20px;
	margin-left: 520px;

}
.btn.bt1:hover
{
	background-color: transparent;
	color: #D8912F;
	border-color: #D8912F;
}

.i2
{
	width: 100%;
	height: 700px;
}

.carousel-caption.text-start.c1
{
	padding-bottom: 230px;
}
.carousel-caption.text-end.c1
{
	padding-bottom: 230px;
}

.he
{
	font-size: 70px;
	font-family: cursive;
	font-weight: bold;
}

.c2
{
	padding-top: 10px;
	font-weight: bold;
}

.c3
{
	width: 500px;
	padding-top: 2px;
	
}

.c4
{
	padding-top: 10px;
	font-weight: bold;
}


.btn.btn2
{
	background-color: #D8912F;
	color: white;
}
.btn.btn2:hover
{
	color:white;
	background-color: transparent;
	border-color: white; 
}

.row.r1
{
	padding-top: 80px;
	padding-left: 80px;
}
.he3
{
	color: #D8912F;
	font-weight: bold;
}
.he4
{
	color: black;
	font-family: cursive;
	font-weight: bold;
	padding-top: 10px;
}
.he5
{
	width: 700px;
	color: #646464;
	padding-top: 10px;
}
.img2
{
	height: 350px;
	width: 400px;
	padding-left: 100px;
}

.btn.btn3
{
	background-color: #D8912F;
	color: white;
	margin-top: 20px;
}
.btn.btn3:hover
{
	background-color: transparent;
	color: #D8912F;
	border-color: #D8912F;
}

.cl2
{
	background-color: #EBEAE8;
	margin-top: 50px;
}

.he6
{
	text-align: center;
	font-weight: bold;
	color: black;
	font-family: cursive;
	padding-top: 60px;
}

.he7
{
	text-align: center;
	padding-top: 20px;
	color: #8E8E8C;
	font-weight: bold;
}

.img3
{
	height: 200px;
	transition: transform .2s;
}
.img3:hover
{
	transform: scale(1.1);
}

.he8
{
	text-align: center;
	font-size: 20px;
	font-weight: bold;
	padding-top: 20px;
}

.card:hover
{
	color: #D8912F;
}

.card-text
{
	color: #767675;
}

..card-text:hover
{
	color: #767675; 
}

.pos
{
	padding-top: 100px;
}

.back1
{
	background-image: url(img/bg.jpeg);
	width: 100%;
	height: 400px;
	background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.he9
{
	text-align: center;
	padding-top: 100px;
	color: white;
	font-family: cursive;
	font-weight: bold;
	font-size: 60px;
}

span
{
	color: #D8912F;
}

.he10
{
	color: white;
	width: 1100px;
	padding-left: 400px;
	text-align: center;
	padding-top: 20px;
}

.btn.btn4
{
	background-color: #D8912F;
	color: white;
	margin-top: 20px;
	margin-left: 650px;
}
.btn.btn4:hover
{
	background-color: transparent;
	color: #D8912F;
	color: 
	border-color: #D8912F;
}

.cl3
{
	padding-top: 80px;
}

.he11
{
	text-align: center;
	font-family: Brush Script MT;
	font-weight: bold;
	font-size: 60px;
}

.he12
{
	text-align: center;
	color: #767675;
	padding-top: 4px;
}

.gallery1
{
	padding: 40px 130px;
}

.thirdRow
{
	width: calc(25% - 20px);
	height:  50px;
	margin: 10px;
	float: left;
}

.img5
{
	height: 200px;
	transition: transform .2s;
}
.img5:hover
{
	transform: scale(1.1);

}

.gallery2
{
	padding: 190px 130px;
}

.Fourth
{
	width: calc(25% - 20px);
	height:  50px;
	margin: 10px;
	float: left;
}

.gallery3
{
	padding: 40px 130px;
}

.cl4
{
	background-color: #E1E1DF;
	margin-top: 300px;
}
.he13
{
	text-align: center;
	font-family: Brush Script MT;
	font-weight: bold;
	font-size: 60px;
	padding-top: 100px;
}

.rq
{
	padding-left: 100px;
	padding-top: 50px; 
}

.tRow
{
	height: calc(25% - 14px);
	width: 300px;
	margin: 7px;
	float: left;
}

.p1
{
	font-weight: bold;
	font-size: 20px;
	padding-left: 60px;
	padding-top: 20px;
}
.img7
{
	height: 300px;
}

.p2
{
	font-weight: bold;
	font-family: Brush Script MT;
	color: #D8912F;
	font-size: 25px;
	padding-left: 70px;
}

.pos1
{
	padding-top: 500px;
}

.back2
{
	background-image: url(img/bg1.jpeg);
	width: 100%;
	height: 400px;
	background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.he14
{
	color: white;
	font-weight: bold;
	font-family: Brush Script MT;
	padding-top: 150px;
	padding-left: 80px;
}

.he15
{
	color: white;
	padding-left: 100px;
	font-size: 50px;
	font-weight: bold
}

.cl5
{
	padding-top: 60px;
}
.he16
{
	font-weight: bold;
	font-family: Brush Script MT;
	color: black;
	text-align: center;
	font-size: 50px;
}

.text8
{
	text-align: center;
	color: #333434;
	font-weight: bold;
	padding-top: 20px;
}

.f2
{
	background-color: #ABEBC6; 
}

.b2
{
	border-radius: 50%;
	color: #00AFAF;
}
.b2:hover
{
	background-color:#D7BDE2 ;
}

.bi1
{
	color: black;
	font-size: 20px;
}

.icon
{
	padding-left: 40%;
	padding-top: 20px;
}
